.sect2{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}
.container2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mql{
    text-align: center;
    color: #0A033C;
}

.car1{
    border-radius: 10%;
    border: none;
}