.container3{
    .h3{
        text-align: center;
        font-weight: 600;
    }
}
.container4{
    .h3{
        text-align: center;
        font-weight: 600;
    }
}
.container5{
    .h3{
        text-align: center;
        font-weight: 600;
    }
}
.container6{
    .h3{
        text-align: center;
        font-weight: 600;
    }
}